{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="gw">GW</a></li>
              <li class="nav-item"><a class="nav-link" href="gg">GG</a></li>
              <li class="nav-item"><a class="nav-link" href="so">SO</a></li>
              <li class="nav-item"><a class="nav-link" href="ic">IC</a></li>
              <li class="nav-item"><a class="nav-link" href="dj">DJ</a></li>
              <li class="nav-item"><a class="nav-link" href="dg">DG</a></li>
              <li class="nav-item"><a class="nav-link" href="bs">BS</a></li>
              <li class="nav-item"><a class="nav-link" href="sj">SJ</a></li>
              <li class="nav-item"><a class="nav-link" href="us">US</a></li>
              <li class="nav-item"><a class="nav-link" href="cb">CB</a></li>
              <li class="nav-item"><a class="nav-link" href="cn">CN</a></li>
              <li class="nav-item"><a class="nav-link" href="gb">GB</a></li>
              <li class="nav-item"><a class="nav-link" href="gn">GN</a></li>
              <li class="nav-item"><a class="nav-link" href="jb">JB</a></li>
              <li class="nav-item"><a class="nav-link" href="jn">JN</a></li>
              <li class="nav-item"><a class="nav-link" href="jj">JJ</a></li>
              <li class="nav-item"><a class="nav-link" href="gj">GJ</a></li>
          </ul>
      </div>
  </div>
</nav>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{%static 'pybo/서울.png' %}" />
            </div>
            <div class="col-md-6">
                <h3 class="display-5 fw-bolder">🎈서울특별시 축제 현황</h3>
                <div class="small mb-1">서울특별시에서 축제가 가장 많이 개최되는 시, 군, 구 지역을 알아보기 위해 워드클라우드로 표현</div>
                <div class="small mb-1">✔축제가 가장 많이 개최되는 시, 군, 구 지역은 강남구이다.</div>
                <div id="table" style="text-align: center;">◾ 대표 축제 ◾
                    <table border="1" class="dataframe">
                        <thead>
                          <tr style="text-align: center;">
                            <th>축제명</th>
                            <th>시도명</th>
                            <th>시군구명</th>
                            <th>법정동 이름</th>
                            <th>도로명주소</th>
                            <th>축제일</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr style="text-align: center;">
                            <td>구로G페스티벌</td>
                            <td>서울특별시</td>
                            <td>구로구</td>
                            <td>구로동</td>
                            <td>서울특별시 구로구 경인로53길 15</td>
                            <td>20200901</td>
                          </tr>
                          <tr style="text-align: center;">
                            <td>동작구 도서관 축제</td>
                            <td>서울특별시</td>
                            <td>동작구</td>
                            <td>대방동</td>
                            <td>서울특별시 동작구 노량진로 74 (대방동)</td>
                            <td>20200530</td>
                          </tr>
                          <tr style="text-align: center;">
                            <td>2020 동작복지나눔축제</td>
                            <td>서울특별시</td>
                            <td>동작구</td>
                            <td>상도동</td>
                            <td>서울특별시 동작구 상도로 369 (상도동)</td>
                            <td>20200905</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</div>
</div>
</section>
{% endblock %}