{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="map" style="width:100%;height:700px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=45e18398b5d634d330bcfb757b4f0d24"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = {
            center: new kakao.maps.LatLng(37.474081, 126.621340), // 지도의 중심좌표
            level: 8 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
    var positions = [
        { content: '<div>주안미디어문화축제</div>', latlng: new kakao.maps.LatLng(37.458746, 126.679586) },
        { content: '<div>인천 원도사제</div>', latlng: new kakao.maps.LatLng(37.450679, 126.642827) },
        { content: '<div>2020 부평풍물대축제</div>', latlng: new kakao.maps.LatLng(37.497650, 126.722075) },
        { content: '<div>제2회 인천 송도크루즈 불꽃축제</div>', latlng: new kakao.maps.LatLng(37.425126, 126.591675) },
        { content: '<div>제11회 연수 능허대 문화축제</div>', latlng: new kakao.maps.LatLng(37.418078, 126.682411) },
        { content: '<div>어린이 축제</div>', latlng: new kakao.maps.LatLng(37.472781, 126.620596) },
        { content: '<div>무의도 춤축제</div>', latlng: new kakao.maps.LatLng(37.384160, 126.410819) },
        { content: '<div>인천상륙작전 문화공연</div>', latlng: new kakao.maps.LatLng(37.474639, 126.600314) },
        { content: '<div>연안부두 축제</div>', latlng: new kakao.maps.LatLng(37.454137, 126.607164) },
        { content: '<div>개항장뮤직페스티벌</div>', latlng: new kakao.maps.LatLng(37.474081, 126.621340) },
        { content: '<div>자유공원 벚꽃축제</div>', latlng: new kakao.maps.LatLng(37.474579, 126.622667) },
        { content: '<div>신포크리스마스트리 축제</div>', latlng: new kakao.maps.LatLng(37.472000, 126.625463) },
        { content: '<div>불꽃축제</div>', latlng: new kakao.maps.LatLng(37.481754, 126.565811) },
        { content: '<div>인천개항장 문화재야행</div>', latlng: new kakao.maps.LatLng(37.474081, 126.621340) },
        { content: '<div>인천개항장 문화재야행</div>', latlng: new kakao.maps.LatLng(37.474081, 126.621340) },
        { content: '<div>정서진 해넘이 축제</div>', latlng: new kakao.maps.LatLng(37.558438, 126.607464) },
        { content: '<div>계양산국악제</div>', latlng: new kakao.maps.LatLng(37.545044, 126.728997) },
        { content: '<div>옹진군 해넘이 및 제야의 밤</div>', latlng: new kakao.maps.LatLng(37.530147, 126.372272) },
        { content: '<div>국사봉 해맞이행사</div>', latlng: new kakao.maps.LatLng(37.270121, 126.493145) },
        { content: '<div>제30회 화도진축제</div>', latlng: new kakao.maps.LatLng(37.476747, 126.632239) },
        { content: '<div>고려산진달래축제</div>', latlng: new kakao.maps.LatLng(37.773710, 126.435337) },
    ];

    for (var i = 0; i < positions.length; i++) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng // 마커의 위치
        });

        // 마커에 표시할 인포윈도우를 생성합니다 
        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].content // 인포윈도우에 표시할 내용
        });

        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다 
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
    function makeOverListener(map, marker, infowindow) {
        return function () {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다 
    function makeOutListener(infowindow) {
        return function () {
            infowindow.close();
        };
    }
</script>

{% endblock %}